<div class="contact">
    <div class="container">
        <div class="dreamcrub">
            <ul class="breadcrumbs">
                <li class="home">
                    <a href="index.html" title="Go to Home Page">Home</a>&nbsp;
                    <span>&gt;</span>
                </li>
                <li class="home">
                    Contact
                </li>
            </ul>
            <ul class="previous">
                <li><a href="index.html">Back to Previous Page</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="contact-form">
            <div class="contact-info">
                <h3>CONTACT FORM</h3>
            </div>


            <form method="POST" action="http://formspree.io/tusentakkinfo@gmail.com">

                <div class="contact-left">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name"
                               required>

                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="_replyto"
                               required
                        >

                    </div>
                    <div class="form-group">
                        <label for="productId">Product Id</label>
                        <input type="text" class="form-control" id="productId" name="product_id"
                               required
                        >

                    </div>

                </div>
                <div class="contact-right">
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea type="text" class="form-control" id="message" name="_subject"
                                  required
                        ></textarea>

                    </div>
                </div>
                <div class="clearfix"></div>
                <button type="submit" class="btn btn-default" name="_next" value="www.tusentakk.in">Submit</button>

            </form>

        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="footer_top">
                <div class="span_of_4">
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="copyright text-center">
                <p>© 2016 TusenTakk.in. All Rights Reserved </p>
            </div>
        </div>
    </div>